body {
  background-color: white;
  font-family: monospace;
  text-align: center;
  margin: 42px;
}
h1 {
  font-size: 400%;
}
div {
  display: inline-block;
  text-align: left;
  list-style-type: circle;
  margin-top: 8px;
}
